* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 2px 3px 10px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
ul li{
    list-style-type: none;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin: 10px;
}
.nav-link{
    font-weight: 600;
}
.logo{
    font-size: 25px;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #0a0a0a;
}
a:hover{
    color: #33D9B2;
}
.icon{
    width: 80px;
    height: 80px;
}
/* search bar */
.form-search input[type=text]{
    padding: 10px;
    font-size: 15px;
    border: 1px solid #b3b3b3;
    float: left;
    background-color: #fff;
    /* background-image: url('search-icon.png'); */
}
.form-search{
    margin-left: 20px;
}
.form-search input[type=text]:focus{
    outline-color: #27ad8e;
}
.form-search::after{
    content: "";
    clear: both;
    display: table;
}

